@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the accordion section */
.accordion_section{
  background-color: #f5f5f5;
  padding: 24px;
}
.accordion__section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #adadad;
  transition: margin 0.6s ease;
}
.accordion__section.active{
    margin: 16px 0;
}
.accordion__section.active:first-child{
    margin-top: 0;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  border: none;
  
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .accordion:hover,
.active {
  background-color: #ccc;
} */

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(180deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}

.accordion__disabled{
    background-color: rgba(0, 0, 0, 0.12);
    border-top: 2px solid #9a9a9a;
    color: #999;
    cursor: default;
}